@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --light-Grayish-Blue: hsl(192, 50%, 96%);
    --font-family: 'Bai Jamjuree',sans-serif;
    --main-font-size: 18px;
    --regular-font-weight: 400;    
    --bold-font-weight: 600;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    width: 100%;
    overflow-x: hidden;
}
header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header > *{
    margin-bottom: 30px;
}
header > svg{
    margin-top: 100px;
}
header > h1{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
header > p{
    max-width: 550px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
}
.download{
    margin: 30px 0;
}
.download > button{
    margin: 10px 5px;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
}
.IOS{
    background-color: var(--Strong-Cyan);
}
.MAC{
    background-color: var(--Light-Blue);
}
main{
    width: 100%;
}
main > :nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > :nth-child(1) > *{
    margin: 10px 0; 
}
main > :nth-child(1) > h2{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(1) > p{
    max-width: 700px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px;
}
main > :nth-child(2){
    display: flex;
}
main > :nth-child(2) > section{
    width: 50%;
}
main > :nth-child(2) > :nth-child(1) > img{
    position: relative;
    right: 40px;
}
main > :nth-child(2) > :nth-child(2){
    padding: 50px 0;
    margin-left: 200px;
}
main > :nth-child(2) > :nth-child(2) > *{
    margin-bottom: 10px;
}
main > :nth-child(2) > :nth-child(2) > h3{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(2) > :nth-child(2) > p{
    max-width: 380px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px; 
}
main > :nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > :nth-child(3) > *{
    margin: 10px 0; 
}
main > :nth-child(3) > h2{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(3) > p{
    max-width: 700px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px;
}
main > :nth-child(4){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > :nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > :nth-child(5) > *{
    margin: 10px 0; 
}
main > :nth-child(5) > h2{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(5) > p{
    max-width: 700px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px;
}
main > :nth-child(6){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 40px;
}
main > :nth-child(6) > :nth-child(1) > *{
    margin-bottom: 10px;
}
main > :nth-child(6) > :nth-child(1) > h3{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(6) > :nth-child(1) > p{
    max-width: 400px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px; 
}
main > :nth-child(6) > :nth-child(2) > *{
    margin-bottom: 10px;
}
main > :nth-child(6) > :nth-child(2) > h3{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(6) > :nth-child(2) > p{
    max-width: 400px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px; 
}
main > :nth-child(6) > :nth-child(3) > *{
    margin: 0 5px;
    margin-bottom: 10px;
}
main > :nth-child(6) > :nth-child(3) > h3{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
}
main > :nth-child(6) > :nth-child(3) > p{
    max-width: 400px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
    margin-bottom: 70px; 
}
.PUB{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.forIOSMAC{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.forIOSMAC > *{
    margin-bottom: 10px;
}
.forIOSMAC > h2{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
    margin-bottom: 10px;
}
.forIOSMAC > p{
    max-width: 550px;
    font-size: var(--main-font-size);
    color: var(--Grayish-Blue);
    font-weight: var(--regular-font-weight);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-Grayish-Blue);
    margin-top: 100px;
}
footer > :nth-child(1) > svg{
    scale: 0.5;
}
.information > *{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--bold-font-weight);
    margin-bottom: 10px;
}
.socielMedia > svg{
    margin: 0 5px;
}


/*Media responsive*/

@media (max-width: 1060px){
    main > :nth-child(2){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main > :nth-child(2) > section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    main > :nth-child(2) > :nth-child(1) > img{
        width: 90%;
        right: 0px;
    }
    main > :nth-child(2) > :nth-child(2){
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
    main > :nth-child(4) > img{
        width: 100%;
    }
}
@media (max-width: 780px){
    main > :nth-child(6){
        flex-direction: column;
    }
    .PUB{
        flex-direction: column;
    }
    .PUB > *{
        margin: 30px 0;
    }
    .forIOSMAC{
        margin: 80px 0;
    }
}
@media (max-width: 620px){
    header{
        background-image: url(./images/bg-header-mobile.png);
    }
    footer{
        flex-direction: column;
        padding: 10px 0px;
    }
    .information{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px 0;
    }
    .socielMedia > svg{
        margin: 20px 5px;
    }
}
